* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d5d4d4;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header, .main {
  justify-self: center;
}

.header {
  background-color: #333;
}